<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Peluditos en Adopcion</title>
    </head>
    <body>
       

        <!-- 1 Sección principal para mostrar un grid con los gatitos -->
        <section th:fragment="listadoGatitosImagenes">
            <div class="container">
                <div class="row row-cols-4">
                    <div th:each="gatito, contador : ${gatitos}" class="col" style="padding-bottom: 50px">
                        <img th:src="${gatito.rutaImagen}" height="150px">
                        <div th:id="'collapseInfo' + ${gatito.idNumero}" class="collapse">
                            <label>Nombre: [[${gatito.nombre}]]</label>
                            <br>
                            <label>Descripcion: [[${gatito.descripcion}]]</label>
                            <br>
                            <button th:if="${gatito.adopcion}"
                                    type="button"
                                    class="btn btn-success btn-block"
                                    role="button"
                                    style="margin-bottom: 10px">
                                Adoptar
                            </button>
                        </div>
                        <button
                                type="button"
                                class="btn btn-primary btn-block"
                                data-bs-toggle="collapse"
                                th:href="'#collapseInfo' + ${gatito.idNumero}"
                                role="button"
                                aria-expanded="false"
                                th:aria-controls="'collapseInfo' + ${gatito.idNumero}">
                            <i class="fas fa-plus"></i> INFO
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>